/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 0.625rem 0.625rem; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 0.625rem 0.625rem 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 1.625rem; /* based on rem so if user zooms in then text scales while maintaining a base of 26px */
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 960px; /* Don't want the width to exceed 960px */
}
.logo {
  font-size: 3rem;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 1em 0;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: .625em;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 1.538em;
  font-size: 1em;
}
header nav ul li a {
  color: #f9e42e;
}

#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 1.23em;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin: 2.5em 0 1.875em;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: .428em 0;
  width: 10em;
  font-size: 1.75rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 1.5rem;
}
#benefits {
  /*padding: 3.846em 0 3.076em;*/
  padding: 7% 0 5%;
}
h3 {
  color: #033048;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}
#benefits p, #benefits ul {
  width: 600px;
}
#benefits ul {
  list-style: disc;
  margin: 1.153em 0 0 3.076em;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 2.692em 0 2.692em;
  color: #fff;
}
blockquote {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 3.076em;
}
#posts {
  width: 72.91%;
  display: inline-block;
  margin-right: 2.09%;
  vertical-align: top;
}
#sidebar {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 1.538em;
  margin-bottom: 1.538em;
}
.post h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 0.75em;
}
.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 1.153em;
  width: 100%;
}
.post p {
  font-size: 1.5rem;
  line-height: 1.333;
  color: #606161;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 5rem;
  line-height: 0.8125em;
  padding-top: 0.05em;
  padding-right: 0.1em;
  padding-left: .0375em;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 1.25em;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.468em;
  color: #043049;
}
#sidebar ul {
  margin-bottom: 1.66em;
}
#sidebar ul li a {
  color: #043049;
  font-size: 1.5rem;
}
#sidebar p {
  font-size: 1.375rem;
  line-height: 1.1;
  margin-bottom: 1.818em;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  padding: 1.153em;
  text-align: center;
}

footer {
  background: #121212;
  padding: 2.5em 0 1.730em;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 2.615em;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1em 2.884em;
}
footer p {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 600;
}



